	body, p {
		margin: 0;
		padding: 0;
	}

	.container {
		display: flex;
		flex-flow: column nowrap;
		background: #2C2C2C;
		color: #fff;
		height: 100vh;
		align-items: center;
		justify-content: space-between;
	}

	header {
		height: 60px;
		background: red;
		width: 100%;
		text-align: center;
	}

	header > ul {
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		align-items: center;
		padding: 10px 20px;
	}

	header > ul > li {
		line-height: 20px;
	}

	header > ul > li > img {
		width: 20px;
		height: 20px;
	}

	.content {
		position: relative;
		overflow: hidden;
		display: flex;
		height: 100%;
		flex-flow: column nowrap;
		align-items: center;
	}

	.content > img {
		width: 300px;
		height: 300px;
		border-radius: 50%;
		margin-top: 110px;
		box-shadow: 0 0 5px 1px #333;
		border: 30px solid #000;
		animation: rotation 60s linear infinite forwards;
		-moz-animation: rotation 60s linear infinite forwards;
		-webkit-animation: rotation 60s linear infinite forwards;
		-o-animation: rotation 60s linear infinite forwards;
		animation-play-state: paused;
	}

	.btn {
		width: 360px;
		margin-top: 50px;
	}

	.btn > ul {
		display: flex;
		justify-content: space-around;
		padding: 0;
	}

	.btn > ul > li {
		list-style-type: none;
		cursor: pointer;
	}

	.btn > ul > li img {
		width: 20px;
		height: 20px;
	}

	.btn > ul > li:nth-child(3) > img {
		width: 20px;
		height: auto;
	}

	.autoplay {
		background: #3e3939;
		width: 100%;
	}

	.autoplay > ul {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.autoplay > ul > li {
		list-style-type: none;
	}

	.autoplay > ul > li:nth-child(1) {
		display: flex;
		align-items: center;
	}

	.autoplay > ul > li:nth-child(1) > img:nth-child(1) {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}

	.autoplay > ul > li > img {
		width: 20px;
		height: 20px;
		display: flex;
	}

	.progress-bar {
		width: 300px;
		height: 4px;
		border-radius: 5px;
		background: #fff;
	}

	.bar {
		height: 4px;
		border-radius: 5px;
		background: #fff;
		cursor: pointer;
	}

	.control-bar {
		width: 60%;
	}

	.control-sound-bar {
		width: 10%;
		margin-left: -3%;
	}

	.btn-bar {
		display: block;
		height: 4px;
		border-radius: 5px;
		background: red;
		position: relative;
	}

	.control-bar-span::after {
		content: "";
		position: absolute;
		right: 0;
		top:-5px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background:red;
		border: 5px solid #fff;
		display: block;
	}

	.control-sound-bar-span::after {
		content: "";
		position: absolute;
		right: 0;
		top:-4px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: #fff;
		border: 3px solid #fff;
		display: block;
	}

	.play, .next {
		cursor: pointer;
	}

	.time {
		width: 50px;
		font-size: 14px;
		color: #adb1ad;
	}

	.needle {
		background: url(../images/needle.png) no-repeat left 0px;
		width: 130px;
		height: 210px;
		left: 60%;
		top: -3%;
		z-index: 10;
		background-size: contain;
		position: absolute;
		transform-origin: 14% 0;
		transform: rotate(14deg);
		transition: 0.5s;
	}

	.needle-rotate {
		transform: rotate(-3deg);
	}

	@-webkit-keyframes rotation{
		from {-webkit-transform: rotate(0deg);}
		to {-webkit-transform: rotate(360deg);}
	}
	@keyframes rotation{
		from {-webkit-transform: rotate(0deg);}
		to {-webkit-transform: rotate(360deg);}
	}

	.lrcText {
		display: none;
		width: 300px;
		height: 300px;
		margin-top: 110px;
		text-align: center;
		overflow: auto;
		position: relative;
	}

	.lrcText>ul {
		position: absolute;
		top: 150px;
		transition: 0.5s;
		padding: 0;
		width: 100%;
	}
	.lrcText>ul li {
		font-size: 12px;
		padding: 10px;
		color: #ccc;
		list-style-type: none;
		height: 15px;
	}

	.now-lrc {
		color: #fff !important;
		font-size: 16px !important;
	}

	.like {
		content:url("../images/unlike.png");
	}

	.active {
		content:url("../images/like.png");
	}

	@media only screen and (min-width: 320px) and (max-width: 767px) {
	body, p {
		margin: 0;
		padding: 0;
	}

	.container {
		display: flex;
		flex-flow: column nowrap;
		background: #2C2C2C;
		color: #fff;
		height: 100vh;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}

	header {
		height: 60px;
		background: red;
		width: 100%;
		text-align: center;
	}

	header > ul {
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		align-items: center;
		padding: 10px 20px;
	}

	header > ul > li {
		line-height: 20px;
	}
	header > ul > li > section {
		font-size: 0.5em;
	}

	header > ul > li > img {
		width: 20px;
		height: 20px;
	}

	.content {
		position: relative;
		overflow: hidden;
		display: flex;
		height: 100%;
		flex-flow: column nowrap;
		align-items: center;
	}

	.content > img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		margin-top: 110px;
		box-shadow: 0 0 5px 1px #333;
		border: 30px solid #000;
		animation: rotation 60s linear infinite forwards;
		-moz-animation: rotation 60s linear infinite forwards;
		-webkit-animation: rotation 60s linear infinite forwards;
		-o-animation: rotation 60s linear infinite forwards;
		animation-play-state: paused;
	}

	.btn {
		width: 100%;
		margin-top: 0;
	}

	.btn > ul {
		display: flex;
		justify-content: space-around;
		padding: 0;
	}

	.btn > ul > li {
		list-style-type: none;
		cursor: pointer;
	}

	.btn > ul > li img {
		width: 20px;
		height: 20px;
	}

	.btn > ul > li:nth-child(3) > img {
		width: 20px;
		height: auto;
	}

	.autoplay {
		background: #3e3939;
		width: 100%;
	}

	.autoplay > ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
	}

	.autoplay > ul > li {
		list-style-type: none;
	}

	.autoplay > ul > li:nth-child(1) {
		display: flex;
		align-items: center;
		flex: 0 0 20%;
	}

	.autoplay > ul > li:nth-child(1) > img:nth-child(1) {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}

	.autoplay > ul > li > img {
		width: 20px;
		height: 20px;
		display: flex;
	}

	.progress-bar {
		width: 300px;
		height: 4px;
		border-radius: 5px;
		background: #fff;
	}

	.bar {
		height: 4px;
		border-radius: 5px;
		background: #fff;
		cursor: pointer;
	}

	.control-bar {
		flex: 0 0 40%;
	}

	.control-sound-bar, .sound-icon-li  {
		display: none;
	}

	.btn-bar {
		display: block;
		height: 4px;
		border-radius: 5px;
		background: red;
		position: relative;
	}

	.control-bar-span::after {
		content: "";
		position: absolute;
		right: 0;
		top:-5px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background:red;
		border: 5px solid #fff;
		display: block;
	}

	.control-sound-bar-span::after {
		content: "";
		position: absolute;
		right: 0;
		top:-4px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: #fff;
		border: 3px solid #fff;
		display: block;
	}

	.play, .next {
		cursor: pointer;
	}

	.time {
		flex: 0 0 25%;
		font-size: 14px;
		color: #adb1ad;
	}

	.needle {
		background: url(../images/needle.png) no-repeat left 0px;
		width: 120px;
		height: 200px;
		left: 60%;
		top: -3%;
		z-index: 10;
		background-size: contain;
		position: absolute;
		transform-origin: 14% 0;
		transform: rotate(20deg);
		transition: 0.5s;
	}

	.needle-rotate {
		transform: rotate(-3deg);
	}

	@-webkit-keyframes rotation{
		from {-webkit-transform: rotate(0deg);}
		to {-webkit-transform: rotate(360deg);}
	}
	@keyframes rotation{
		from {-webkit-transform: rotate(0deg);}
		to {-webkit-transform: rotate(360deg);}
	}

	.lrcText {
		display: none;
		margin-top: 110px;
		text-align: center;
		overflow: auto;
		position: relative;
		width: 100%;
	}

	.lrcText>ul {
		position: absolute;
		top: 150px;
		transition: 0.5s;
		padding: 0;
		width: 100%;
	}
	.lrcText>ul li {
		font-size: 12px;
		padding: 10px;
		color: #ccc;
		list-style-type: none;
		height: 15px;
	}

	.now-lrc {
		color: #fff !important;
		font-size: 16px !important;
	}

	.like {
		content:url("../images/unlike.png");
	}

	.active {
		content:url("../images/like.png");
	}
}